<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/js/admin.js"></script>
    <title><?= Config::get('site_name') ?></title>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/"><?= __('lng.admin', 'Admin panel')?></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <?php if(Session::get('login')) : ?>
                <ul class="nav navbar-nav">
                    <li <?php if( App::getRouter()->getController() == 'pages') : ?> class="active" <?php endif; ?>><a href="/admin/pages/">Pages</a></li>
                    <li <?php if( App::getRouter()->getController() == 'contacts') : ?> class="active" <?php endif; ?>><a href="/admin/contacts/">Contact Us</a></li>
                    <li><a href="/admin/users/logout">Выход</a></li>
                </ul>
            <?php endif; ?>
        </div>
    </div>
</nav>

<div class="container">

    <div class="starter-template">

        <?php if (Session::hasFlash()) : ?>
        <div class="alert alert-info" role="alert">
            <?php Session::flash(); ?>
        </div>
        <?php endif ?>
        <?= $data['content']; ?>
    </div>

</div>

</body>
</html>