<h3>Pages</h3>
<table class="table table-stripped" id="table">
    <?php foreach($data['pages'] as $page_data) : ?>
    <tr>
        <td><b><?= $page_data['title']; ?></b></td>
        <td>
            <a href="/admin/pages/edit/<?= $page_data['id']; ?>"><button class="btn btn-sm btn-primary">Редактировать</button></a>
            <a href="/admin/pages/delete/<?= $page_data['id']; ?>" onclick="return confirmDelete(); "><button class="btn btn-sm btn-warning">Удалить</button></a>
        </td>
    </tr>
    <?php endforeach; ?>


</table>
<br>
<div>
    <a href="/admin/pages/add/"><button class="btn btn-sm btn-success">Новая страница</button></a>
</div>