<h3>Редактирование страницы</h3>
<form action="" method="post">
    <input type="hidden" name="id" value="<?= $data['page']['id'] ?>">
    <div>
        <label for="alias">Псевдоним: </label>
        <input type="text" id="alias" name="alias" value="<?= $data['page']['alias'] ?>" class="form-control">
    </div>
    <div>
        <label for="title">Название: </label>
        <input type="text" id="title" name="title" value="<?= $data['page']['title'] ?>" class="form-control">
    </div>
    <div>
        <label for="content">Содержимое: </label>
        <textarea name="content" id="content" rows="10" class="form-control"><?= $data['page']['content'] ?></textarea>
    </div>
    <div>
        <label for="is_published">Опубликовать? </label>
        <input type="checkbox" id="is_published" name="is_published"
            <?php if($data['page']['is_published']) : ?>
                checked="checked"
            <?php endif; ?>
        >
    </div>
    <input type="submit" class="btn btn-success" value="Опубликовать!">
</form>