<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Контакты</title>
</head>
<body>
<h3>Напишите нам: </h3>
<form action="" method="post">
    <input type="text" class="form-control" name="name" placeholder="Ваше имя"><br>
    <input type="text" class="form-control" name="email" placeholder="Ваш email"><br>
    <textarea name="message" id="" rows="10" class="form-control" placeholder="Ваше сообщение"></textarea><br>
    <button class="btn btn-primary btn-lg btn-block">Отправить</button>
</form>
</body>
</html>